._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

// @media (max-width: 992px) {
//   ._container {
//     padding: 40px 10px;
//   }
// }

// @media (max-width: 768px) {
//   ._container {
//     padding: 20px 10px;
//   }
// }
