.together {
  background-color: var(--color-white);
  &__container {
    display: flex;
    align-items: center;
    padding: 100px 10px;
    gap: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    gap: 15px;
  }

  &__orange {
    @extend %orange;
  }

  &__title {
    @extend %title;
  }

  &__text {
    @extend %text;
  }

  &__cards {
    flex: 1 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    display: flex;
    gap: 15px;
    flex: 1 46%;
  }
}

.card-together {
  &__icon {
    width: 36px;
    height: 36px;
  }

  &__text {
  }
}
@media (max-width: 992px) {
  .together {
    &__container {
      flex-direction: column;
      padding: 40px 10px;
      gap: 40px;
    }
    &__info {
      justify-content: center;
      align-items: center;
      padding: 0px 100px;
    }
    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .together {
    &__container {
      padding: 20px 10px;
    }
    &__info {
      padding: 0px;
    }
    &__cards {
      // flex-direction: column;
      // gap: 20px;
      // align-items: flex-start;
    }
    &__card {
    }
  }
}

@media (max-width: 480px) {
  .together {
    &__container {
    }
    &__info {
    }
    &__cards {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    &__card {
    }
  }
}
